var msgContainer = document.getElementById("messages-container");

var generatedHTML = "<% @group.messages.each do |message| %><div class='flex-between padding gray'><p> <%= message.user.email.split('@')[0] %>: </p><p> '<%= message.subject %>' </p><p> <%= message.created_at.hour %>:<%= message.created_at.min %> </p></div><% end %>"

msgContainer.innerHTML = generatedHTML;
