<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Move With me!</h1>
    <p>
      You have successfully signed up to Move-with-me,
      your username is: <%= @username %>.<br>
    </p>
    <p>
      To go back to the site, just follow this link: <%= link_to "movewithme", root_url %>.
    </p>
    <p>Thanks for joining and have a great day!🌴 </p>
  </body>
</html>
