<p>Hi <%= @user.email %>,</p>

<h1>Welcome to Move With me!</h1>
<p>
  You have successfully signed up to Move-with-me,
  your username is: <%= @username %>.<br>
</p>
<p>
  To get back on to the site, just follow this link: <%= link_to "Movewithme", root_url %>.
</p>
<p>Thanks for joining and have a great day!🌴 </p>
