
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="journeys">
        <% @groups.each do |group| %>
          <h4><%= group %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
