<div class="text-center group-show">
    <h4>Departure Address: <%=  @group.start_location.address %></h4>
    <h4>Departure Address: <%= @group.end_location.address %></h4>
    <h4>Departure Time: <%= @group.start_at%></h4>
    <h4>Users going on this trip are :</h4>
  <div class="d-flex justify-content-center">
      <% @group.journeys.each do |journey| %>
        <ul>
          <li>
            <%= journey.user.email.split("@")[0] %>
          </li>
        </ul>
      <% end %>
  </div>
</div>

