<footer class="footer">
  <div class="container">
    <copyright>&copy; Move with me</copyright>
    <nav>
      <ul>
        <li><%= link_to "Dashboard",   current_user %></li>
        <li><%= link_to "landing page", root_path %></li>
      </ul>
    </nav>
  </div>
</footer>
