<div class="banner">
  <div class="banner-content text-center">
    <h1>Walk safer: reduce the chance on being unprotected!</h1>
    <p>Let us all take responsibility for freeing our communities of crime and violence.</p>
    <%= link_to "Search for groups", new_journey_match_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
