<div class="banner bg-primary">
  <div class="banner-content text-center">
    <h1 class="text-light">Walk safer!</h1>
    <p class="text-light">Let us all take responsibility for freeing our communities of crime and violence.</p>
    <%= link_to "Search for groups", new_journey_match_path, class: "btn btn-lg btn-light font-weight-bold"  %>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h2 class="card-title">Walk with others and stay safe.</h5>
      <p class="card-text">Let us all take responsibility for freeing our communities of crime and violence. Let us not
        rob ourselves of the freedom which we have so recently won by allowing these evils to continue. Every community
        in
        any country has a fundamental right to be free from fear. Each and every human being has the right to feel
        secure
        in their home, to feel safe in the cities, towns and rural areas. People should not fear the night. They must be
        able to travel to work, to school and other places without danger.</p>
  </div>
</div>