<div class="banner bg-primary">
  <div class="banner-content text-center">
    <h1 class="text-light">Walk safer!</h1>
    <p class="text-light">Let us all take responsibility for freeing our communities of crime and violence.</p>
    <%= link_to "Search for groups", new_journey_match_path, class: "btn btn-lg btn-light font-weight-bold"  %>
  </div>
</div>
