.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li:last-child {
    /* last li item */
  }
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  background: transparent;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon a {
  color: #ececec;
  font-weight: bold;
}

button.navbar-toggler {
  background: white;
}

header.navbar {
  background: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 9999;

  &.fixed-top {
    position: fixed;
  }
}


a.nav-link.active {
  color: #093166 !important;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #093166;
}