.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li:last-child {
    /* last li item */
  }
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  background: transparent;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon a {
  color: #ececec;
  font-weight: bold;
}

button.navbar-toggler {
  background: white;
}

header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar {
  height: 13vh;
  position: sticky;
  top: 0;
  background: #515585;
  z-index: 9999;
}