.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) #95a5a6;
}

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon a {
    color: #ececec;
    font-weight: bold;
}
