// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.form-header{
  color: white;
  font-weight: bold;

  h2 {
    font-size: 45px;
  }




}


.group-show{

  font-weight: bold;

  h4 {
    color: #151965;
  }




}
