// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form-header {
	color: #151965;
	font-weight: bold;

	h2 {
		font-size: 45px;
	}
}

.white {
	background-color: white;
}

.container-scroolbar {
	max-width: 900px;
	padding: 5px;
	max-height: 500px;
	overflow: auto;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.container {
	height: 90vh;
}

.marg {
	margin: 8px;
	padding: 3px;
}

.group-show {
	font-weight: bold;

	h4 {
		color: #151965;
	}

	.white {
		background-color: white;
	}

	.gray {
		background-color: gray;
	}

	.flex-between {
		display: flex !important;
		justify-content: space-between !important;
	}

	.padding {
		padding: 2px;
		border: 1px solid #ccc;
	}
}